<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<style>
    body{
        font-family: 'PT Sans', sans-serif;
    }    
   input{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.19);
   }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
<script src="/js/app.js"></script>
</head>

<body ng-app="OCR" ng-controller="dashboardCtrl">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="background: black">
        <a class="navbar-brand" style="color: white" href="/apiinterface">Image Upload</a>
        <a class="navbar-brand" style="color: white" data-toggle="modal" data-target="#logoutModal">Logout</a>
    </nav>
    <div class="modal fade" id="logoutModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirm Logout</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure?</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal">No</a>
                        <a href="/logout" class="btn btn-default">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    <div class="container">
        <h1>User Details</h1>
        <h3>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <p class="col-sm-10">
                    [{[userData.email]}]
                </p>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Api Key:</label>
                <p class="col-sm-8">
                    [{[userData.apikey]}]
                </p>
                <button ng-click="updateKey()" class="btn btn-primary">Regenerate API Key</button>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">No of Requests:</label>
                <p class="col-sm-10">
                    [{[userData.noofrequests]}]
                </p>
            </div>
        </h3>
    </div>
</body>
</html>